@font-face {
  font-family: Aeonik;
  src: url('https://github.com/defi/site/raw/master/static/Aeonik-Regular.ttf') format('truetype');
}

* {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #121619;
  font-family: sans-serif;
}

h1 {
  margin-top: 20px; /* Example margin */
}

input[type="text"]::placeholder {
  color: white; /* Set placeholder text color to grey */
}
input[type="text"]:focus {
  outline: none
}

@font-face {
  font-family: 'SpaceMono-Regular';
  src: local('SpaceMono-Regular'), url(./fonts/SpaceMono-Regular.woff) format('woff');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: 'AeonikMono-Regular';
  src: local('AeonikMono-Regular'), url(./fonts/AeonikMono-Regular.woff2) format('woff');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: 'Inter-Medium';
  src: local("Inter-Medium") url(./fonts/Inter-Medium.woff2) format('woff');
}

@font-face {
  font-family: 'TCCC-UnityText';
  src: local('TCCC-UnityText') url(./fonts/tccc-unitytext-bold.woff2) format('woff');
}